{% extends "base.html" %}
{% block title %}Welcome PhotoBooth{% endblock %}
{% block cssref %}
  	
{% endblock %}
{% block jsref %}
	
{% endblock %}
{% block onload %}
  
{% endblock %}
{% block content %}
<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>  
 <div id="photo">
    <img src="/static/{{image_file_name}}">
  </div>
<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
{% endblock %}