<html>
	<head>
		<title>
		{% block title %}{% endblock %}
		</title>
		{% block cssref %}{% endblock %}
		{% block jsref %}{% endblock %}
	</head>
	<body {% block onload %}{% endblock %}>
  		{% block content %}{% endblock %}
	</body>
</html>
